<header>
  <hr>
  <h1 id="logo">
    <a href="/" rel="index"><img src="/images/barcamp_logo.png?1479537908" alt="BarCamp"><span class="region">RheinMain</span><span class="location-date">Wiesbaden 19.+20.11.2016</span></a>
  </h1>
  <nav class="event">
    <a href="/" rel="index">Das BarCamp</a>
    <!-- <a href="/p/Nachlese">Nachlese</a> -->
    <a href="/Statistiken.html">Statistiken</a>
    <a href="/Location.html">Location</a>
    <a href="/Sponsoren.html">Sponsoren</a>
    <a href="/Teilnehmerliste.html">Teilnehmer</a>
  </nav>
  <hr>
  <nav class="main">
    <a href="/Kontakt.html">Kontakt</a>
    <a href="/Impressum.html">Impressum</a>
  </nav>
  <hr>
</header>
