{% assign barcamp = site.data.barcamps[site.barcamp] %}
<header>
  <hr>
  <h1 id="logo">
    <a href="/" rel="index"><img src="{{ "/images/barcamp_logo.png" | prepend: site.baseurl }}" alt="BarCamp"><span class="region">RheinMain</span><span class="location-date">{{ barcamp.title }}</span></a>
  </h1>
  <nav class="event">
    <a href="/" rel="index">Das BarCamp</a>
    <a href="{{ "/Nachlese-2016.html" | prepend: site.baseurl }}">Nachlese</a>
    <a href="{{ "/Sponsoren.html" | prepend: site.baseurl }}">Sponsoren</a>
    <!--<a href="{{ "/Statistiken.html" | prepend: site.baseurl }}">Statistiken</a>
    <a href="{{ "/Location.html" | prepend: site.baseurl }}">Location</a>    
    <a href="{{ "/Teilnehmerliste.html" | prepend: site.baseurl }}">Teilnehmer</a>     //-->
  </nav>
  <hr>
  <nav class="main">
    <a href="{{ "/Kontakt.html" | prepend: site.baseurl }}">Kontakt</a>
    <a href="{{ "/Impressum.html" | prepend: site.baseurl }}">Impressum</a>
  </nav>
  <hr>
</header>
